<launch>

    <param name="/yamlconfigfile" type="string" value="$(find flvis)/launch/EuRoC_MAV/euroc.yaml"/>


    <!--<node pkg="rosbag" type="play" name="rosbag" args="$(find flvis)/bag/V1_01_easy.bag"/>-->
    <!--<node pkg="rosbag" type="play" name="rosbag" args="$(find flvis)/bag/V1_02_medium.bag"/>-->
    <!--<node pkg="rosbag" type="play" name="rosbag" args="$(find flvis)/bag/V1_03_difficult.bag"/>-->
    <!--<node pkg="rosbag" type="play" name="rosbag" args="$(find flvis)/bag/MH_02_easy.bag"/>-->
    <node pkg="rosbag" type="play" name="rosbag" args="$(find flvis)/bag/MH_05_difficult.bag"/>
    <arg name="node_start_delay" default="0.0" />
    <param name="/voc"             type="string" value="$(find flvis)/voc/voc_orb.dbow3"/>
    <!-- Manager -->
    <node pkg="nodelet" type="nodelet" name="flvis_nodelet_manager"  args="manager" output="screen"
    launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@' "/>
    <!-- TrackingNode -->
    <node pkg="nodelet" type="nodelet" args="load flvis/TrackingNodeletClass flvis_nodelet_manager"
        name="TrackingNodeletClass_loader" output="screen"
        launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@' ">
        <param name="num_worker_threads" type="int" value="3" />
        <!-- D435i -->
        <remap from="/vo/image0"   to="/cam0/image_raw"/>
        <remap from="/vo/image1"   to="/cam1/image_raw"/>
        <remap from="/imu"         to="/imu0"/>
    </node>
    <!--Parameter: window_size: localmap size. 1 stand for 0.1 meters in real world. Default size: 10-->
    <!-- LocalMapNode -->
<!--    <node pkg="nodelet" type="nodelet" args="load flvis/LocalMapNodeletClass flvis_nodelet_manager"
        name="LocalMapNodeletClass_loader" output="screen"
        launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@' ">
        <param name="/window_size" type="int" value="8" />
    </node>-->
    <!-- LoopClosingNode -->
<!--    <node pkg="nodelet" type="nodelet" args="load flvis/LoopClosingNodeletClass flvis_nodelet_manager"
        name="LoopClosingNodeletClass_loader" output="screen"
        launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@' ">
    </node>-->

</launch>
