<launch>

<!--Input######################################################################################################-->
    <node pkg="rosbag" type="play" name="rosbag" args="$(find flvis)/bag/2020-03-20-20-03-47.bag -s3"/>

<!--FLVIS######################################################################################################-->
    <arg name="node_start_delay"  default="1.0" />
    <param name="/yamlconfigfile" type="string" value="$(find flvis)/launch/d435i/d435i_sn912112073494.yaml"/>
    <param name="/voc"            type="string" value="$(find flvis)/voc/voc_orb.dbow3"/>
    <param name="/lite_version"   type="bool"   value="false" />
    <!--In lite version, the visualization will be simplified -->


    <!-- Manager -->
    <node pkg="nodelet" type="nodelet"
          name="flvis_nodelet_manager" args="manager" output="screen"
          launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@' ">
          <param name="num_worker_threads" value="4" />
    </node>

    <!-- TrackingNode -->
    <node pkg="nodelet" type="nodelet" args="load flvis/TrackingNodeletClass flvis_nodelet_manager"
        name="TrackingNodeletClass_loader" output="screen"
        launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@' ">
        <!-- D435i -->
        <remap from="/vo/depth_image"  to="/camera/aligned_depth_to_infra1/image_raw"/>
        <remap from="/vo/image"        to="/camera/infra1/image_rect_raw"/>
        <remap from="/imu"             to="/camera/imu"/>
    </node>

    <!-- LocalMapNode -->
    <node pkg="nodelet" type="nodelet" args="load flvis/LocalMapNodeletClass flvis_nodelet_manager"
          name="LocalMapNodeletClass_loader" output="screen"
          launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@' ">
        <param name="/window_size" type="int" value="8" />
        <!--window_size: Num of keyframes in sliding window optimizer-->
    </node>

    <!-- LoopClosingNode -->
    <node pkg="nodelet" type="nodelet" args="load flvis/LoopClosingNodeletClass flvis_nodelet_manager"
        name="LoopClosingNodeletClass_loader" output="screen"
        launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@' ">
    </node>

</launch>
