<launch>

    <arg name="node_start_delay" default="1.0" />

    <param name="/voc"             type="string" value="$(find vo_nodelet)/voc/voc_orb.dbow3"/>

    <!-- Manager -->
    <node pkg="nodelet" type="nodelet" name="vo_manager"  args="manager" output="screen"
    launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@' "/>

    <!-- TrackingNode -->
    <node pkg="nodelet" type="nodelet" args="load vo_nodelet/VOTrackingNodeletClass vo_manager"
        name="VOTrackingNodeletClass_loader" output="screen"
        launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@' ">
        <remap from="/vo/depth_image"  to="/camera/aligned_depth_to_infra1/image_raw"/>
        <remap from="/vo/image"        to="/camera/infra1/image_rect_raw"/>
    </node>

    <!-- LocalMapNode -->
    <node pkg="nodelet" type="nodelet" args="load vo_nodelet/VOLocalMapNodeletClass vo_manager"
        name="VOLocalMapNodeletClass_loader" output="screen"
        launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@' ">
    </node>

</launch>



