<launch>

    <include file="$(find vo_nodelet)/launch/vo.launch"/>

    <node pkg="octomap_server" type="octomap_server_node" name="octomap_server">
        <param name="resolution" value="0.2" />
        <param name="frame_id" type="string" value="map" />
        <param name="sensor_model/max_range" value="8.0" />
        <remap from="cloud_in" to="/vo_octo_tracking" />
    </node>

    <node pkg="rosbag" type="play" name="rosbag" args="--clock $(find vo_nodelet)/bag/2019-10-15-21-25-22_room1.bag"/>
    <!--<node pkg="rosbag" type="play" name="rosbag" args="$(find vo_nodelet)/bag/2019-10-15-21-33-46_tunnel2.bag"/>-->
    <!--<node pkg="rosbag" type="play" name="rosbag" args="$(find vo_nodelet)/bag/2019-10-15-21-39-16_4th2.bag"/>-->
    <!--<node pkg="rosbag" type="play" name="rosbag" args="$(find vo_nodelet)/bag/2019-10-15-21-40-43_4th3.bag"/>-->

    <!--<node pkg="rosbag" type="play" name="rosbag" args="$(find vo_nodelet)/bag/2019-10-15-21-27-06_room2.bag"/>-->
    <!--<node pkg="rosbag" type="play" name="rosbag" args="$(find vo_nodelet)/bag/2019-10-15-21-31-32_tunnel1.bag"/>-->
    <!--<node pkg="rosbag" type="play" name="rosbag" args="$(find vo_nodelet)/bag/2019-10-15-21-37-49_4th1.bag"/>-->

</launch>
