<launch>

    <include file="$(find realsense2_camera)/launch/d435_sn841512070537.launch"/>

    <param name="/yamlconfigfile"     type="string" value="$(find vo_nodelet)/launch/vio_config.yaml"/>
    <param name="/image_width"     type="int" value="480"/>
    <param name="/image_height"    type="int" value="270"/>
    <param name="/fx"              type="double" value="239.08380126953125"/>
    <param name="/fy"              type="double" value="238.68667602539062"/>
    <param name="/cx"              type="double" value="239.08380126953125"/>
    <param name="/cy"              type="double" value="134.68154907226562"/>
    <param name="/voc"             type="string" value="$(find vo_nodelet)/voc/ORBvoc.bin"/>

    <!-- Manager -->
    <node pkg="nodelet" type="nodelet" name="vo_manager"  args="manager" output="screen" launch-prefix="bash -c 'sleep 2; $0 $@' " />

    <!-- TrackingNode -->
    <node pkg="nodelet" type="nodelet" args="load vo_nodelet/VOTrackingNodeletClass vo_manager"
      name="VOTrackingNodeletClass_loader" output="log" launch-prefix="bash -c 'sleep 3; $0 $@' " >
      <remap from="/vo/depth_image"  to="/camera/aligned_depth_to_infra1/image_raw"/>
      <remap from="/vo/image"        to="/camera/infra1/image_rect_raw"/>
    </node>




</launch>

