<launch>

    <param name="/yamlconfigfile" type="string" value="$(find vo_nodelet)/launch/d435_sn841512070537.yaml"/>
    <include file="$(find vo_nodelet)/launch/d435_sn841512070537.launch"/>

    <include file="$(find vo_nodelet)/launch/vo.launch"/>

<!--    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find vo_nodelet)/rviz/vio.rviz" />-->

    <node pkg="octomap_server" type="octomap_server_node" name="octomap_server">
        <param name="resolution" value="0.15" />
        <param name="frame_id" type="string" value="map" />
        <param name="sensor_model/max_range" value="8.0" />
        <remap from="cloud_in" to="/vo_octo_tracking" />
    </node>


</launch>



